* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.05em;
}

html, body {
  width: 100%;
  height: 100%;
}

img, picture, video {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Serif", serif;
  line-height: 96%;
  font-weight: 600;
}

h1 {
  font-size: clamp(5rem, 7.5vw, 10rem);
}

h2 {
  font-size: calc(clamp(5rem, 7.5vw, 10rem) * 0.8);
  margin-bottom: 24px;
}

h3 {
  font-size: clamp(1.4rem, 4vw, 6vw);
}

p {
  font-size: clamp(1.4rem, 2vw, 4vw);
  font-size: calc(clamp(5rem, 7.5vw, 10rem) * 0.25);
  line-height: 120%;
  font-weight: 300;
  margin-bottom: 24px;
}

.label {
  font-size: clamp(1.4rem, 2vw, 4vw);
  line-height: 100%;
  display: flex;
}

aside {
  font-size: clamp(1rem, 1.4vw, 1.6vw);
  opacity: 0.6;
  transition: opacity 0.4s ease-out;
  position: relative;
  align-self: flex-start;
  cursor: pointer;
}
aside::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: #fcfcfc;
  transition: width 0.8s ease-out;
}
aside:hover {
  opacity: 1;
}
aside:hover::before {
  width: 100%;
  opacity: 1;
  transition: width 0.8s ease-out;
}

a {
  text-decoration: none;
  color: inherit;
}

.billboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  padding: 8vh 7vw;
}
.billboard .container {
  grid-column: 1/span 3;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 40;
}
.billboard aside {
  font-size: var(--font-small);
}
.billboard figure {
  grid-column: 2/span 4;
  grid-row: 1/-1;
  height: 88vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.billboard .woman {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: auto;
  height: 100%;
  position: relative;
  z-index: 20;
}
.billboard .yellow-rect {
  grid-column: 2/span 5;
  grid-row: 3/span 3;
  transform: translateY(40px);
}
.billboard .brown-rect {
  grid-column: 4/span 5;
  grid-row: 2/span 4;
  transform: translateY(-20px) translateX(-40px);
}
.billboard .tree {
  grid-column: 2/span 3;
  grid-row: 1/span 4;
  width: auto;
  height: 100%;
  position: relative;
  z-index: 10;
}

@media (max-width: 767px) {
  .billboard {
    display: flex;
    flex-direction: column;
  }
  .billboard .content {
    order: 1;
    padding-bottom: 48px;
  }
  .billboard figure {
    height: 72vh;
  }
}
.section {
  display: flex;
  padding: 8vh 7vw;
  gap: 40px;
  position: relative;
}
.section #domestic-violence {
  width: 50%;
}
.section .container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.section .container.chart {
  width: 100%;
  margin-top: 24px;
  padding-bottom: 40px;
  z-index: 1;
}
.section .container h2 span {
  display: flex;
  font-size: 32px;
}
.section .container h3 {
  font-family: "Inter", sans-serif;
  font-size: clamp(1.4rem, 3vw, 5vw);
  margin-bottom: 24px;
}
.section .container h3 span {
  font-size: clamp(1.4rem, 4vw, 6vw);
}
.section .container.video {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.section .container.video video,
.section .container.video .video-overlay {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
.section .container.video .video-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(24, 24, 24, 0.6));
  padding: 40px;
}
.section .container.video .video-overlay p {
  font-size: clamp(1.8vw, 4vw, 8rem);
  text-align: center;
  color: #fcfcfc;
  font-weight: 600;
  text-shadow: 1px 1px 0 #181818;
}
.section figure {
  width: 50%;
}
.section figure img {
  width: 100%;
  height: auto;
}
.section figure.cover {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.section figure.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section #injured-woman {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25vw;
}
.section.grid-5c {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content 1fr;
}
.section.grid-5c .container.justify-center {
  grid-column: 1/span 3;
  grid-row: 1/span 1;
  width: 100%;
  position: relative;
  z-index: 20;
}
.section.grid-5c figure {
  grid-column: 1/-1;
  grid-row: 2/-1;
  width: 100%;
}
.section.grid-5c figure img {
  width: 100%;
  height: auto;
}
.section.grid-5c figure.with-grid {
  grid-column: 2/-1;
  grid-row: 1/-1;
  display: flex;
  justify-content: flex-end;
}
.section.grid-5c figure.with-grid img {
  width: auto;
  height: 100%;
}

@media (max-width: 767px) {
  .section {
    flex-direction: column;
    padding: 24px;
    height: auto;
  }
  .section #domestic-violence {
    width: 100%;
  }
  .section .scrollable_charts {
    overflow-x: auto;
  }
  .section .container {
    width: 100%;
  }
  .section figure {
    width: 88%;
  }
  .section #injured-woman {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
  }
  .section .container {
    order: 1;
  }
  .section figure img {
    width: 100%;
    height: auto;
  }
}
.seagreen-bg {
  background: #496d48;
  color: #fcfcfc;
}
.seagreen-bg aside a {
  color: #fcfcfc;
}

.orangered-bg {
  background: orangered;
  color: #fcfcfc;
}
.orangered-bg aside a {
  color: #fcfcfc;
}

.coffee-bg {
  background: #664b44;
  color: #fcfcfc;
}
.coffee-bg aside a {
  color: #fcfcfc;
}

.snow-bg {
  background: #fcfcfc;
  color: #181818;
}
.snow-bg aside {
  color: #181818;
}
.snow-bg aside::before {
  background: #181818;
}
.snow-bg aside a {
  color: #181818;
}

.change-flex-order .container {
  order: 1;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.section-height-small {
  height: 60vh;
  min-height: 640px;
}

.section-height-medium {
  height: 72vh;
  min-height: 640px;
}

.section-height-large {
  height: 80vh;
  min-height: 640px;
}

.section-height-full {
  height: 100%;
  min-height: 640px;
}

.no-padding-all {
  padding: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.grid-overlap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.grid-overlap .charts {
  grid-column: 1/span 2;
  grid-row: 1/-1;
  width: auto;
  position: relative;
  z-index: 40;
  padding-bottom: 60px;
}
.grid-overlap figure {
  grid-column: 2/span 3;
  grid-row: 1/-1;
}

footer {
  background: #181818;
  color: #fcfcfc;
  padding: clamp(4px, 0.4vw, 0.6vw);
  padding-left: 7vw;
}
footer p {
  font-size: clamp(0.7em, 0.6vw, 1vw);
  margin: 0;
}

.tooltip {
  left: 0;
  bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
