@import 'variables';
@import 'mixins';



.billboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  padding: 8vh 7vw;

  .container {
    grid-column: 1 / span 3;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 40;
  }

// hello
  aside {
    font-size: var(--font-small);
  }
  figure {
    grid-column: 2 / span 4;
    grid-row: 1 / -1;
    height: clamp(70vh, 88vh, 100vh);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .woman {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: auto;
    height: 100%;
    position: relative;
    z-index: 20;
  }

  .yellow-rect {
    grid-column: 2 / span 5;
    grid-row: 3 / span 3;
    transform: translateY(40px);
  }

  .brown-rect {
    grid-column: 4 / span 5;
    grid-row: 2 / span 4;
    transform: translateY(-20px) translateX(-40px);
  }
  .tree {
    grid-column: 2 / span 3;
    grid-row: 1 / span 4;
    width: auto;
    height: 100%;
    position: relative;
    z-index: 10;
  }
}

@media (max-width: 767px) {
  .billboard {
    display: flex;
    flex-direction: column;
    .content {
      order: 1;
      padding-bottom: $space-jumbo;
    }
    figure {
      height: 72vh;
    }
  }
}