@import 'variables';


// helper styles

@mixin background($surface-color, $text-color) {
  background: $surface-color;
  color: $text-color;
}


@mixin image-size($width: 100%, $height: auto) {
width: $width;
height: $height;
}


@mixin width-60 {
  width: 60%
}
@mixin width-50 {
  width: 50%;
}

@mixin width-40 {
  width: 40%;
}

@mixin width-100 {
  width: 100%;
}

@mixin button-base($border-color: $black, $surface: $black, $color: $white) {
background: $surface;
border: $stroke solid $border-color;
color: $color;
}
